.item {
	margin-top: 20px;
	position: relative;
}

.item[data-highlight='true']::before,
.item[data-highlight='false']::before {
	position: absolute;
    content: ' ';
    left: -30px;
    width: 10px;
    height: 10px;
    background: #797979;
    top: 50%;
    margin-top: -5px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.3s;
}

.item[data-highlight='false']::before {
    opacity: 0;
}


.item a {
	color: #333;
	font-weight: bold;
	cursor: pointer;
}

.item a:hover {
	color: #0078d7;
}